extends ../layout

block content
    header
        link(href='https://www.w3schools.com/w3css/4/w3.css' rel='stylesheet')
        link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet')

    section
        .container
            .row
            h2 Edit restaurant
            .row
                .col-lg-12.text-center
                    form(action="/restaurants/edit/#{restaurant._id}" method="POST")
                        .form-group
                            input#restaurantName.form-control(name="name" type="text" value="#{restaurant.name}")
                        .form-group
                            input#location.form-control(name="location" type="text"  value="#{restaurant.location}")
                        .form-group
                            input#neighborhood.form-control(name="neighborhood" type="text"  value="#{restaurant.neighborhood}")
                        .form-group
                            input#councilDistrict.form-control(name="councilDistrict" type="text"  value="#{restaurant.councilDistrict}")
                        .form-group
                            .btn-group
                                button.btn.btn-primary(type="submit") Edit
                                button.btn.btn-danger Cancel